/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ffffff;
}

.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}

.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}

#navbar-top {
  background-image:
    linear-gradient(
      to top right,
      #335f4a,
      #50976f
    );
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #51ba8d25 !important;
}

.field--name-dynamic-block-fieldnode-section-menu-block ul.nav,
.field--name-dynamic-block-fieldnode-section-sub-menu nav.menu--main {
  background-color: #335f4a15 !important;
}

body.page-user-login,
body.page-user-login #page,
body.page-user-login #main-wrapper {
  background-color: #335f4a;
}

/* #navbar-main {
  background-color: #50976f;
} */

#main-wrapper a,
#main-wrapper link,
#navbar-main a,
#navbar-main link  {
  color: #51ba8d;
}

#main-wrapper a:hover,
#main-wrapper a:focus,
#main-wrapper .link:hover,
#main-wrapper .link:focus,
#navbar-main a:hover,
#navbar-main a:focus,
#navbar-main .link:hover,
#navbar-main .link:focus{
  color: #3feba1;
}

#main-wrapper a:active,
#main-wrapper .link:active,
#navbar-main a:active,
#navbar-main .link:active {
  color: #65f6b8;
}

#main-wrapper .page-item.active .page-link,
#navbar-main .page-item.active .page-link {
  color: #ffffff;
  background-color: #51ba8d;
  border-color: #51ba8d;
}

#main-wrapper .page-link,
#main-wrapper .page-link:hover,
#navbar-main .page-link,
#navbar-main .page-link:hover {
  color: #51ba8d;
}

#navbar-main .is-active {
  color: #335f4a !important;
}

.sidebar .section,
.bg-theme,
.breadcrumb {
  background-color: #335f4a10 !important;
}

.views-listing .shaded-rows li:nth-child(odd),
.view-section-calendar .event:nth-child(odd),
.view-article-feed .article-post:nth-child(odd) {
  background-color: #335f4a10 !important;
}

#navbar-main {
  box-shadow: 0px 1px 4px #335f4a40;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

#page-wrapper .btn-primary {
  background-color: #51ba8c;
  border-color: #51ba8c;
}

#page-wrapper .btn-primary:hover,
#page-wrapper .btn-primary:focus {
  background-color: #3b7c66;
}

body,
.site-footer {
  background: #167d4c !important;
}

#page-wrapper .site-footer a {
  color: #ffffff;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}

.section-parent a {
  background: #51ba8d;
}

div.article-img,
.node--view-mode-vertical-teaser .field--name-field-feature-image {
  /* background-color: #335f4a; */
  border-radius: 0.3125rem;
  overflow: hidden;
}

.fc-today {
  background-color: #335f4a40 !important;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
